Temp/
Library/
MaxstARSample_ImageTracker_Terrain.sln
MaxstARSample_ImageTracker_Terrain.CSharp.csproj
MaxstARSample_ImageTracker_Terrain.CSharp.Editor.csproj
MaxstARUnityTerrain.apk
MaxstARSample_ImageTracker_Terrain.v12.suo
